*.swp
target/
**/*.rs.bk
.DS_Store
*.pdb
exercises/clippy/Cargo.toml
exercises/clippy/Cargo.lock
rust-project.json
.idea
.vscode/*
!.vscode/extensions.json
*.iml
*.o
public/
.direnv/

# Local Netlify folder
.netlify
/flake.lock
/flake.nix
/.gitpod.yml
/.editorconfig
/.markdownlint.yml
/.devcontainer/
/target/
/.github/
/tests/
/.all-contributorsrc
/src/
/.vscode/
/install.ps1
/install.sh
/oranda.json
/shell.nix
